.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--dark-bg);
  color: var(--light-font);
  margin-bottom: 2rem;

  h3 {
    font-weight: 100;
    letter-spacing: 5px;
  }

  ul {
    display: flex;
    list-style: none;
    column-gap: 2rem;
    margin: 0;

    li {
      a {
        text-decoration: none;
        color: var(--light-font);
        letter-spacing: 2px;
        font-weight: 200;
        transition: all 0.2s ease;

        &:hover {
          color: var(--orange-100);
          font-weight: 400;
        }

        &:active,
        &.active {
          color: var(--orange-500);
          font-weight: 400;
        }
      }
    }
  }
}
