@use './assets/styles/mixins.scss' as *;

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: var(--container-max-width);
  margin: 0 auto;

  @include tablet {
    padding: 0 2rem;
  }
}
